{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">{% block title %} No Language Left Behind {% endblock %}</h1>
  <br/>
  <p class="text-center">Currently serving <code>{{model_id}}</code></p>
  <br/>
  <form id="source-form" class="form container" action="./translate">
  <div class="row">
    <div class="form-group col-5 ">
      <label for="src_lang" class="col-sm-2">From:</label>
      <select class="form-control col-sm-3" id="src_lang" style="display: inline">
        {% for src_lang in src_langs %}
        <option {% if def_src_lang == src_lang %} selected {% endif %}>{{src_lang}} </option>
        {% endfor %}
      </select>
    </div>
    <button id="button-swap" type="button" class="btn btn btn-outline col-sml-1">Swap 🔁</i></button>
    <div class="form-group col-5">
      <label for="tgt_lang col-sm-2 col-form-label">To:</label>
      <select class="form-control col-sm-3" id="tgt_lang" style="display: inline">
        {% for tgt_lang in tgt_langs %}
        <option {% if def_tgt_lang == tgt_lang %} selected {% endif %}>{{tgt_lang}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-6 alert alert-primary">
        <div class="form-group row">
          <textarea id="source_txt" name="source" rows="6" class="form-control form-control-lg form-control-plaintext"
            placeholder="Source Text Here..."></textarea>
        </div>
        <button type="submit" class="btn btn-primary float-right">Translate→</button>
    </div>
    <div class="col-6 alert alert-success">
      <div class="form-group row">
        <textarea id="target" rows="6" class="form-control form-control-lg form-control-plaintext"
          placeholder="Translation (to-appear)"></textarea>
      </div>
      <div id="loading-progress" style="display: none;" class="spinner-border text-success float-left" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <p class="text float-left" id="time-taken">...</p>
      <button type="submit" class="btn btn-primary float-right btn-success" onclick="copyToClipboard()">Copy to
        Clipboard</button>
    </div>
  </div>
</form>

<script>

  function copyToClipboard() {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($("#target").text()).select();
    document.execCommand("copy");
    $temp.remove();
    console.log("Copied.. ")
  }

  var last_result = null
  function update_view(result) {
    console.log(result)
    last_result = result
    $('#target').val(result["translation"].join('\n'));
    $('#time-taken').text('⏳' + result["time_taken"] + result.time_units);
  }

  function swap_direction() {
    console.log("swapping...")
    // langs
    src_lang = $('#src_lang').val()
    $('#src_lang').val($('#tgt_lang').val())
    $('#tgt_lang').val(src_lang)
    // swap text
    src_txt = $('#source_txt').val().trim()
    $('#source_txt').val($('#target').val().trim())
    $('#target').val(src_txt)
  }

  window.onload = function () {
    $(document).ajaxStart(function () {
      $("#loading-progress").show();
    });

    $(document).ajaxStop(function () {
      $("#loading-progress").hide();
    });


    $("#source-form").submit(function (event) {
      event.preventDefault();
      var $form = $(this)
      url = $form.attr('action');
      source = $('#source_txt').val().trim().split('\n')
      src_lang = $('#src_lang').val()
      tgt_lang = $('#tgt_lang').val()

      data = JSON.stringify({
        'source': source,
        'src_lang': src_lang,
        'tgt_lang': tgt_lang
      })
      console.log(data);

      var posting = $.ajax(url, {
        data: data,
        contentType: 'application/json',
        type: 'POST'
      });

      posting.done(update_view)
      posting.fail(function () {
        alert("Something went wrong🤒! Check console logs.");
        $('#target').text('');
      });
    });

    $("#button-swap").click(swap_direction)
  }
</script>

{% endblock %}
